:root {
  --townDSlot: 32px;
  --townDSprite: 28px;
}

.townDisplay__wrapper {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.townTile {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Dimensions */
  width: var(--townDSlot);
  min-width: var(--townDSlot);
  height: var(--townDSlot);
  background-color: green;

  /* Temporal, remove when you have a proper sprite */
  font-size: var(--townDSprite);
}
