@import 'css/pixelated-utils.css';
@import 'css/town-display.css';
@import 'css/visual-effects.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minimal3x5';
  src: url('/fonts/Minimal3x5.ttf') format('truetype');
}

@font-face {
  font-family: 'Minimal5x5Monospaced';
  src: url('/fonts/Minimal5x5Monospaced.ttf') format('truetype');
}

@font-face {
  font-family: 'Minimal5x7';
  src: url('/fonts/Minimal5x7.ttf') format('truetype');
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  html {
    line-height: 1;
  }
}

html {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px; /* Set them apart a bit for legibility */
}

body {
  color: #f5f6fa;
  background-color: #3e4f59;
}
.clickerArea {
  @apply flex flex-auto items-center justify-center bg-gray-300;
  background: no-repeat center/cover url('./assets/splashscreen.webp');
}

/*
==========================================
    Background Styles
==========================================
*/

.bg-img-noise-scroll {
  background-image: url('./assets/bg/noise-10-60-scroll.png');
  background-size: 100%;
  background-repeat: repeat;
}

.bg-img-noise-gray {
  background-image: url('./assets/bg/noise-10-40-gray.webp');
  background-size: 100%;
  background-repeat: repeat;
}

.bg-scroll {
  @apply bg-img-noise-scroll;
  background-color: #f9f4e7;
}

.bg-blue-noise {
  background-image: url('./assets/bg/noise-10-60-scroll.png');
  background-color: theme('colors.blue.800');
  background-size: 100%;
  background-repeat: repeat;
}

:root {
  --height-navbar: 80px;
}

.h-navbar {
  height: var(--height-navbar);
}

.h-game {
  height: calc(100vh - var(--height-navbar));
  height: calc(100svh - var(--height-navbar));
  max-height: calc(100vh - var(--height-navbar));
  max-height: calc(100svh - var(--height-navbar));
}

#loaderLogo,
.logoNav {
  width: 100%;
  height: auto;
}

#loaderLogo {
  display: block;
  margin: 2rem auto;
  max-width: 400px;
}

.logoNav {
  max-width: 76px;
  max-height: 100%;
  /*width: max-content;*/
}

@media only screen and (min-width: 992px) {
  .logoNav {
    max-width: 128px;
  }
}

.navbar {
  @apply h-navbar;
  background-color: theme('colors.blue.800');
  background-repeat: repeat;
  border-bottom: 1px solid theme('colors.blue.900');

  /* For the navbar to be always on top */
  z-index: 1000;

  /* /assets/bg/navbar_bg.png repeating horizontally, pressed to the bottom, and old_dirt.png in the whole background*/

  /* Multiple background images */
  background-image: url('/assets/bg/navbar_bg.png'), url('/assets/bg/old_dirt.png');
  /* Position the first background image at the bottom, and let it repeat horizontally */
  background-position:
    bottom left,
    top left;
  /* Repeat the first background image horizontally, and the second image both horizontally and vertically */
  background-repeat: repeat-x, repeat;
  /* Set the background size to auto, meaning it will use the natural size of the images */
  background-size: auto, auto;
}

/*
==========================================
    Layout Elements Styles
==========================================
*/

.border-scroll-groove {
  border: 3px groove #e8e0c3;
}

.SectionHeader {
  @apply bg-img-noise-scroll border-scroll-groove bg-red-800 p-1 text-center text-2xl font-bold text-white;
  user-select: none;
}

/*
    * The following styles are for the fake progress bar
    * that represents the passive Buildings.
*/

@keyframes progress-bar-width-growth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.loopFakeProgressBar {
  animation: progress-bar-width-growth 1s linear infinite;
}

/*
==========================================
    * DaisyUI Customizations
==========================================
*/

.btn {
  @apply pixel-rounded mx-1 my-1 h-10 min-h-10 text-base font-bold;
}

/*
====================
  Custom Scrollbar
====================
*/

/* Webkit Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
  background: #efefef; /* Lighter color for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #5a3e2b; /* Dark color for the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 3px solid #e8e0c3; /* Adds space around the thumb with the track's color */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #5a3e2b #fff; /* Thumb and track colors */
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #282c34 !important;
}

body::-webkit-scrollbar-track {
  background-color: #282c34 !important;
  width: 5px;
}
